<div class="w-100 h-100">
    <div class="d-flex align-items-center rate-card-header">
        <img src="../../../assets/images/information-button.png" width="15" height="15" />
        <div class="ft-14 fw-500 ml-2 text-capitalize">rate review</div>
    </div>
    <div class="rate-card-body">
        <div class="mb-2">
            <label>
                <span class="ft-12 fw-500 text-capitalize mr-1">description</span>
                <img src="../../../assets/images/help-web-button.png" width="10" height="10" />
            </label>
            <input type="text" class="form-control" />
        </div>
        <div class="mb-4">
            <label>
                <span class="ft-12 fw-500 text-capitalize mr-1">SIC Code</span>
                <img src="../../../assets/images/help-web-button.png" width="10" height="10" />
            </label>
            <input type="text" class="form-control" />
        </div>
        <div class="pb-2">
            <div class="d-flex justify-content-between mb-2">
                <div class="input-group col-6 p-0">
                    <div class="input-group-prepend">
                        <div class="input-group-text ft-12" id="inputGroup-sizing-sm">
                            <img src="../../../assets/images/visa.png" class="mr-1" width="18" height="18" alt="">
                            <span class="ft-12 font-weight-bold">$</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group col-5 p-0 ml-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text ft-12" id="inputGroup-sizing-sm">
                            <img src="../../../assets/images/visa.png" class="mr-1" width="18" height="18" alt="">
                            <span class="ft-12 font-weight-bold">$</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div class="input-group col-6 p-0">
                    <div class="input-group-prepend">
                        <div class="input-group-text ft-12" id="inputGroup-sizing-sm">
                            <img src="../../../assets/images/mastercard.png" class="mr-1" width="18" height="18" alt="">
                            <span class="ft-12 font-weight-bold">$</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group col-5 p-0 ml-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text ft-12" id="inputGroup-sizing-sm">
                            <img src="../../../assets/images/mastercard.png" class="mr-1" width="18" height="18" alt="">
                            <span class="ft-12 font-weight-bold">$</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div class="input-group col-6 p-0">
                    <div class="input-group-prepend">
                        <div class="input-group-text ft-12" id="inputGroup-sizing-sm">
                            <img src="../../../assets/images/credit-card.png" class="mr-1" width="18" height="18"
                                alt="">
                            <span class="ft-12 font-weight-bold">$</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group col-5 p-0 ml-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text ft-12" id="inputGroup-sizing-sm">
                            <img src="../../../assets/images/credit-card.png" class="mr-1" width="18" height="18"
                                alt="">
                            <span class="ft-12 font-weight-bold">$</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div class="input-group col-6 p-0">
                    <div class="input-group-prepend">
                        <div class="input-group-text ft-12" id="inputGroup-sizing-sm">
                            <img src="../../../assets/images/american-express.png" class="mr-1" width="18" height="18"
                                alt="">
                            <span class="ft-12 font-weight-bold">$</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group col-5 p-0 ml-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text ft-12" id="inputGroup-sizing-sm">
                            <img src="../../../assets/images/american-express.png" class="mr-1" width="18" height="18"
                                alt="">
                            <span class="ft-12 font-weight-bold">$</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <div class="col-7 pl-0 pr-5">
                <label  class="ft-12 fw-500 text-capitalize mr-1">Total volume</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-5 px-0">
                <label  class="ft-12 fw-500 text-capitalize mr-1">Total transition</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <div class="col-7 pl-0 pr-5">
                <label  class="ft-12 fw-500 text-capitalize mr-1">avg ticket</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-5 px-0">
                <label  class="ft-12 fw-500 text-capitalize mr-1">current rate</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <div class="col-7 pl-0 pr-5">
                <label  class="ft-12 fw-500 text-capitalize mr-1">current fees</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-5 px-0">
                <label  class="ft-12 fw-500 text-capitalize mr-1">current amex rate</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <div class="col-7 pl-0 pr-5">
                <label  class="ft-12 fw-500 text-capitalize mr-1">marchant type</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-5 px-0">
                <label  class="ft-12 fw-500 text-capitalize mr-1">high speed</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="d-flex justify-content-between pb-4">
            <div class="col-7 pl-0 pr-5">
                <label  class="ft-12 fw-500 text-capitalize mr-1">marchant type</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-5 px-0">
                <label  class="ft-12 fw-500 text-capitalize mr-1">high speed</label>
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>
<!-- 
<span>description</span>
<img src="../../../assets/images/help-web-button.png" width="10" height="10"/> -->